## One Hot Encoding - pandas
### Encoding into k-1 dummy variables


**When one hot encoding categorical variables, we create k - 1 binary variables**
Most machine learning algorithms, consider the entire data set while being fit. Therefore, encoding categorical variables into k - 1 binary variables, is better, as it avoids introducing redundant information.

### Advantages of one hot encoding

- Straightforward to implement
- Keeps all the information of the categorical variable
- Suitable for linear models

### Limitations

- Expands the feature space
- Does not add extra information while encoding

In [2]:
# load titanic dataset
usecols = ["pclass", "sibsp", "parch", "sex", "embarked", "cabin", "survived"]

data = pd.read_csv("", usecols=usecols)

   pclass  survived     sex  sibsp  parch cabin embarked
0       1         1  female      0      0    B5        S
1       1         1    male      1      2   C22        S
2       1         0  female      1      2   C22        S
3       1         0    male      1      2   C22        S
4       1         0  female      1      2   C22        S

## One hot encoding with pandas


-----

The pandas method `get_dummies()`, will create as many binary variables as categories in the variable.
### into k  dummy variables

Notice the positives of pandas `get_dummies`:

- Dataframe returned with feature names.
- Automatically recognises variables of type object or categorical.
- Dummies appended to original data in place of the original categorical variables.

### into k -1